/* .Home .lander {
  padding: 80px 0;
  text-align: center;
} */

.flext-container {
  margin-top: 0.5em;
}
/* .flext-container {
display:  flex ; 
align-items: center;
flex-direction: column;
width: 100%;
text-align: center
}


.selector-container{
    width: 100%;
} */
