h2{
    display:flex;
   justify-content:flex-start;
   margin-left:15px;
}
/* .content{
     display:flex;
text-align:left;
 margin-left:15px;
  margin-right:30px;
} */
#card{
  width: 94%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  margin-top: 40px ;
  margin-left:40px;
 
}
#link{
  margin-left:15px;
   font-size:15px;
}
