body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: transparentr gba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
}
select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type="file"] {
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.add-new-wrapper {
  margin: 0 auto;
}

.add-margin-left {
  margin-left: 10px;
  cursor: pointer;
}

.plus {
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  text-align: right;
}

.sm-col-6 a {
  font-size: 16px;
}

.results-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparentr gba(0, 0, 0, 0);
}

.results-container-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparentr gba(0, 0, 0, 0);
}

.single-result-link {
  margin-left: 15px;
}

.icon-container{
  margin-left: 10px;
  margin-bottom: 20px;
}

.def-icon-container{
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.icon {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.term-icon {
  margin-right: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .term-icon {
    display: none;
  }
}

.list-margin{
  margin-bottom: 25px;
}

.content a {
  text-decoration: none;
  color: white;
}

.content{
  margin-bottom: 15px;
  display: block;
  text-align: left;
  margin-left: 10px;
  margin-right: 30px;
  width: 100%;
}

textarea{
  width: 100%;
  /* height: 100%; */
  overflow: show;
}


.content a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.navbar {
  z-index: 1;
}

.link {
  display: flex;
  justify-content: flex-start;
  margin-left: 6px;
  font-size: 16px;
}
.button-container {
  width: 20%;
}

.text-area-container {
  width: 100%;
}



.results-wrapper {
  width: 80%;
  margin: 0 auto 50px;
}

/* @media (max-width: 750px) {
  .results-wrapper {
    margin: 0;
  }
} */

.utility-margin-auto {
  margin: -40px auto 10px;
}



.term-definition{
  font-size: 36px;
}

.term-heading-decoration{
  text-decoration: underline;
}

.term-heading {
  text-align: left;
  margin-left: 15px;
  text-transform: capitalize;
  display: inline-block;
  width: 100%;
  font-size: 5vh;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.save-btn{
  float: right;
}

.save-btn button{
  width: 30%;
}

.history-list{
  list-style-type: none;
  font-size: 12px;
}

.toggle-history{
  cursor: pointer;
}


.single-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparentr gba(0, 0, 0, 0);
  margin: 0 0 1vh 0;
}

@media (max-width: 768px) {
  .single-container {
    justify-content: left;
    align-items: baseline;
    flex-direction: column;
  }
}

.center-block{
  margin: 0 auto;
}


.no-results{
  display: flex;
    justify-content: center;
    margin: 0 auto;

}

p a {
  display: inline-block;
  font-size: inherit;
  justify-content: inherit;
  margin-left: 0;
}

.utility-margin-top {
  margin-top: 25px;
}


